@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
:root{
    --max-width:1440px;
}

.btn{
    padding: 0.5rem 0.8rem;
    text-transform: capitalize;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn--green{
    padding: 0.8rem 1rem;
    background-color: #13A884;
    color: white;
}

.btn--radius-max{
    border-radius: 30px;
}




body{
    font-family: 'Montserrat', sans-serif;
    color: white;
    background:linear-gradient(to right,rgba(29, 29, 29, 0.068),rgba(128, 128, 128, 0.116)),  url("./assets/Banner.png") center center no-repeat;
    background-size: cover;
}



#main{

    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    overflow: hidden;
}
.img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/* nav */
.nav{
    width: 100%;
}

.nav__container{
    position: fixed;
    width: 100%;
    z-index: 10;
    color: rgb(255, 255, 255);
    margin: 0 auto;
    padding: 10px;
    text-transform: capitalize;
    background-color: transparent;
    transform: 0.5s all ease-in-out;
}

.nav-active{
    color: black;
    background-color: white;
}
.nav__header{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}


.toggle-btn{
    background-color: rgb(227, 227, 227);
    color: black;
    align-self: center;
    justify-self: center;
}

.toggle-btn.btn{
    padding: 0.3rem 0.5rem;
}


.nav__links{
    display: flex;
    gap: 0.8rem;
    flex-direction: column;
    height: 0;
    overflow: hidden;
    transition: 0.5s all ease-in-out;
}

.show-links{
    height: 180px;
    margin-top: 1rem;
}

.nav__item{
    font-size: 1.2rem;
    margin-left:1rem;
    cursor: pointer;
}


@media only screen and (min-width:540px){
    .nav__header {
        font-size: 1.8rem;
    }


    .nav__links{
        font-size: 1.5rem;
    }

    .show-links {
        height: 200px;
        margin-left: 2rem;
    }

    .nav__links .btn{
        font-size: 1rem;
        padding: 0.5rem 2.5rem;
        border-radius: 20px;
    }

}

@media only screen and (min-width:1000px){
    .nav-active{
        background-color: transparent;
        color: white;
    }
    .nav__container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 4rem;
        padding-bottom: 0;
    }
    .nav__header {
        font-size: 1.8rem;
    }

    .nav__header .toggle-btn{
        display: none;
    }


    .nav__links{
        font-size: 1.5rem;
        height: auto;
        gap: 3rem;
        flex-direction: row;
    }

    .show-links {
        height: auto;
    }

    .nav__links .btn{
        font-size: 1rem;
    }

}



/* hero */
.hero{
    height: 100vh;
    position: relative;
}
.hero__container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.hero__heading{
    font-size: 5rem;
    margin-top: 5rem;
    line-height: 1;
}





@media only screen and (min-width:540px){
    .hero {
        position: relative;
    }

    .hero__container{
        justify-content: flex-start;
        margin-left: 4rem;
    }
}

@media only screen and (min-width:720px){
    .hero__heading{
        font-size: 14vh;
    }
}

@media only screen and (min-width:1000px){
    .hero__container{
        margin-left: 9rem;
    }

    .hero__heading{
        font-size: 7rem;
    }
}



.chat-btn{
    position: absolute;
    z-index: 12;
    bottom: 2rem;
    right: 2rem;
    height: 30px;
    width: 30px;
    padding: 2rem;
    background-color: white;
    cursor: pointer;
    transition: .5s all ease-in-out;
    background: url("./assets/Sparrow\ Bird.png") center no-repeat white;
    background-size:30px;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.chat-btn--active{
    background: url("./assets/close-btn.png") center no-repeat white;
    background-size:30px;
}
.chat-btn img{
    width: 30px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chat__screen{
    position: absolute;
    z-index: 12;
    background-color: white;
    bottom: 6.5rem;
    right: 1rem;
    border-radius: 5px;
    max-width: 0;
    max-height: 0;
    overflow: hidden;
    transition: .5s all ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}



.show-chat__screen{
    max-height: 900px;
    max-width: 90%;
    padding: 0.5rem;
}

.chat__welcome{
    background-color: rgb(109, 110, 189);
    padding: 2rem 2rem;
    line-height: 1.5;
    border-radius: 5px;
    text-transform: capitalize;

}

.chat__welcome p{
    color: rgb(234, 234, 234);
    text-transform: capitalize;

}

.chat__start{
    color: black;
    max-width: 80%;
    margin: 2rem auto;
    line-height: 1.5;
    display: block;
    text-transform: capitalize;
}

.chat__start button{
    font-size: 1rem;
    margin: 1rem;
}

.chat__main{
    display: none;
    transition: all .5s ease-in-out;
}

.show-chat__main{
    display: block;
}
.chat-conversation{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-height: 100px;
    max-height: 200px;
    overflow: scroll;
    padding: 2rem 0;
    margin: 0.5rem;
    overflow-x: hidden;

}

.chat-conversation__box{
    width: 80%;
    padding: 1rem;
    padding-bottom: 2rem;
    border-radius: 5px;
}

.chat-conversation__message-container{
    display: flex;
    gap: 0.4rem;
    width: 100%;
    transition: .4s all ease-in-out;
}

.message-container--left{
    transform: translateX(-100%);
}


.message-container--right{
    transform: translateX(100%);
}

.add-animation{
    transform: translateX(0);
}


.chat-conversation__user{
    background-color: #4C5AA1;
    align-self: flex-end;
    margin-left: auto;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 100% 100%, 95% 85%, 0% 85%);
}


.chat-conversation__reply{
    background-color: #ECF1FB;
    color: black;
    clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 5% 85%, 0 100%, 0% 75%);
}

.chat-conversation__profile{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgb(82, 83, 150);
    display: block;
    align-self: center;

}

/* 
.chat-typing{
    font-size: 12px;
    max-height: 0;
    color: white;
    background-color: rgba(82, 83, 150, 0.496);
    border-radius: 10px;
    max-width: fit-content;
    transition: .5s all ease-in-out;
}

.chat-typing--active{
    max-height: 40px;
    padding: 0.2rem 2rem;
    bottom: 0;
} */

.chat__footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    text-align: center;
    color: black;
    border-bottom: 1px solid rgb(126, 126, 126);
    padding-bottom: 1rem;
    margin: 1rem 0;
    font-weight: 100;
}

.chat__footer p{
    font-size: 12px;
}

.chat-conversation__form{
    display: grid;
    grid-template-columns: 2fr auto;
}

.chat-conversation__form input{
    border: none;
    border-radius: 1rem;
    margin-left: 2rem;
}



.chat-conversation__form input:focus{
   outline: none;
}

.chat-conversation__btn{
    background-color: transparent;
    border: none;
    margin: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
 }




 @media only screen and (min-width:550px) {
    .show-chat__screen{
        max-width: 350px;
    }
    
    .chat__welcome h2{
        font-weight: 500;
    }

    .chat-conversation {
        min-height: 150px;
        max-height: 260px;
    }

    .chat__start{
        font-size: 12px;
    }
    
    .chat__start p{
        font-weight: 200;
    }

    .chat__start button{
        font-weight: 200;
        font-size: 15px;
    }
}

@media only screen and (min-width:950px){
    .show-chat__screen{
        max-width: 400px;
    }

}